Cite H3 rather than QUIC for stream closure, define the error code to use

While the messages that govern stream states are defined in QUIC, the application is the thing responsible for directing the QUIC transport layer. 

https://ryantheoptimist.github.io/httpbis-h3-websockets/draft-hamilton-httpbis-h3-websockets.html#section-3-2 implies something else is going on. It would be better off linking to something in the H3 spec, I suggest https://datatracker.ietf.org/doc/html/draft-ietf-quic-http-34#section-4.2

Also, what I'd be looking for specifically as an implementer is guidance on what error code to use. 

RFC 8441 says 

> RST exceptions are
   represented with the RST_STREAM frame ([RFC7540], Section 6.4) with
   the CANCEL error code ([RFC7540], Section 7).
   
This is inspired by RFC8540's definition of conventional CONNECT but notice the error code is different for extended connect. The proposal therefore is to make it explicit that WS over H3 needs to use H3_REQUEST_CANCELLED to terminate the stream in this situation.

(I think you meant RFC7540 (HTTP/2) not RFC 8540 (SCTP), right?)

Thanks! That makes sense. How about something like this then?

The HTTP/3 stream closure is also analogous to the TCP connection
closure of [RFC6455].  Orderly TCP-level closures are represented as
a FIN bit on the stream ([HTTP3], Section 4.2).  RST exceptions are
represented with an stream error ([HTTP], Section 8) of type
H3_REQUEST_CANCELLED ([HTTP], Section 8.1).

yep (oops) and yep, works for me